<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550265053132-4lbih2riq5o7nr9uibgo34qb0fpun4ok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550265053132-4lbih2riq5o7nr9uibgo34qb0fpun4ok</string>
	<key>API_KEY</key>
	<string>AIzaSyDourYxD2K8D0PjgSpwG8YWQOt4dYXlPIw</string>
	<key>GCM_SENDER_ID</key>
	<string>550265053132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aseef.houseCleaning</string>
	<key>PROJECT_ID</key>
	<string>housecleaning-b5862</string>
	<key>STORAGE_BUCKET</key>
	<string>housecleaning-b5862.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550265053132:ios:7b0f62c89268f92ef98769</string>
</dict>
</plist>